<!--suppress XmlInvalidId -->
<template>
  <div>
    <h1>Checker results</h1>
    <label for="team-select">Team:</label>
    <b-form-select v-on:change="updateSelection" id="team-select" :options="teamOptions" v-model="selectedTeam"
                   class="mb-2"></b-form-select>
    <label for="service-select">Service:</label>
    <b-form-select v-on:change="updateSelection" id="service-select" :options="serviceOptions" v-model="selectedService"
                   class="mb-2"></b-form-select>

    <div id="datetime-picker" :style="{display: showDateTimePicker ? 'block' : 'none'}">
      <label for="datepicker">Starting from (descending):</label>
      <b-form-datepicker id="datepicker" v-model="selectedDate" v-on:input="updateSelection" value-as-date
                         class="mb-2"></b-form-datepicker>
      <b-form-timepicker id="timepicker" v-model="selectedTime" v-on:input="updateSelection" now-button
                         class="mb-2"></b-form-timepicker>
    </div>

    <b-button v-on:click="updateSelection" :disabled="disableButton" variant="primary" class="mb-2">Reload checks
    </b-button>

    <span style="white-space: pre;">
      <b-table :items="checksProvider" :fields="tableFields" per-page="5" :current-page="selectedPage" sort-by="total"
               id="checks-table" sort-desc></b-table>
    </span>
    <b-pagination v-model="selectedPage" per-page="5" :total-rows="(selectedPage + 1) * 5" aria-controls="checks-table"
                  :disabled="disableButton"></b-pagination>
  </div>
</template>

<!--suppress JSUnresolvedVariable -->
<script>
export default {
  name: 'Checks',
  data() {
    return {
      teamOptions: null,
      serviceOptions: null,

      selectedPage: 1,

      selectedTeam: null,
      selectedService: null,
      selectedDate: new Date(),
      selectedTime: this.getCurrentTime(),

      showDateTimePicker: false,
      disableButton: true,

      tableFields: [
        {key: 'time', label: 'Time'},
        {key: 'status', label: 'Status'},
        {key: 'description', label: 'Description'},
        {key: 'error', label: 'Error'},
      ]
    }
  },
  mounted() {
    this.loadState();
  },
  methods: {
    loadState: function () {
      this.$http
          .get("/state")
          .then(response => {
            let state = response.data;
            this.initSelects(state);
          })
          .catch(e => {
            console.error('Failed to load state', e);
          })
    },
    initSelects: function (state) {
      this.teamOptions = state.config.teams.map((t, n) => ({value: n, text: t.name}));
      this.serviceOptions = state.config.services.map((t, n) => ({value: n, text: t}));
    },
    updateSelection: function () {
      let team = this.selectedTeam;
      let service = this.selectedService;
      let date = this.selectedDate;
      let time = this.selectedTime;

      this.showDateTimePicker = team != null && service != null;
      this.disableButton = team == null || service == null || date == null || time == null;

      if (!this.disableButton) {
        this.$root.$emit('bv::refresh::table', 'checks-table')
      }
    },
    checksProvider: function (ctx, callback) {
      let team = this.selectedTeam;
      let service = this.selectedService;
      let date = this.selectedDate;
      let time = this.selectedTime;

      if (team == null || service == null || date == null || time == null) {
        return []
      }

      let [hours, minutes, seconds] = time.split(':');
      date.setHours(hours, minutes, seconds);

      this.$http
          .post("/statuses", {
            starting: date,
            page: ctx.currentPage - 1,
            pageSize: ctx.perPage,
            team: this.selectedTeam,
            service: this.selectedService
          })
          .then(response => callback(response.data))
          .catch(e => {
            console.error('Failed to load checks', e);
            callback([])
          })

      return null;
    },
    getCurrentTime: function () {
      let now = new Date()
      return now.getHours() + ':' + now.getMinutes() + ':' + now.getSeconds();
    }
  }
}
</script>
