<!--suppress XmlInvalidId -->
<template>
  <div>
    <h1>Config override</h1>
    <h4>Only applies until restart. Don't forget to edit config.json and rebuild the platform.</h4>

    <b-input-group prepend="ctfTitle" class="mb-2">
      <b-form-input v-model="ctfTitle" type="text"></b-form-input>
      <b-input-group-append>
        <b-button v-on:click="sendCtfTitle" variant="success">
          Send
        </b-button>
      </b-input-group-append>
    </b-input-group>

    <b-input-group prepend="totalRounds" class="mb-2">
      <b-form-input v-model="totalRounds" type="number"></b-form-input>
      <b-input-group-append>
        <b-button v-on:click="sendTotalRounds" variant="success">
          Send
        </b-button>
      </b-input-group-append>
    </b-input-group>

    <b-input-group prepend="checksInRound" class="mb-2">
      <b-form-input v-model="checksInRound" type="number"></b-form-input>
      <b-input-group-append>
        <b-button v-on:click="sendChecksInRound" variant="success">
          Send
        </b-button>
      </b-input-group-append>
    </b-input-group>

    <b-input-group prepend="flagLifeLength" class="mb-2">
      <b-form-input v-model="flagLifeLength" type="number"></b-form-input>
      <b-input-group-append>
        <b-button v-on:click="sendFlagLifeLength" variant="success">
          Send
        </b-button>
      </b-input-group-append>
    </b-input-group>

    <b-input-group prepend="gameStartTime" class="mb-2">
      <b-form-input v-model="gameStartTime" type="text"></b-form-input>
      <b-input-group-append>
        <b-button v-on:click="sendGameStartTime" variant="success">
          Send
        </b-button>
      </b-input-group-append>
    </b-input-group>

    <b-input-group prepend="freezeStartTime" class="mb-2">
      <b-form-input v-model="freezeStartTime" type="text"></b-form-input>
      <b-input-group-append>
        <b-button v-on:click="sendFreezeStartTime" variant="success">
          Send
        </b-button>
      </b-input-group-append>
    </b-input-group>

    <hr>

    <label for="team-select">Team:</label>
    <b-form-select v-on:change="updateTeamSelection" id="team-select" :options="teamOptions" v-model="selectedTeam"
                   class="mb-2"></b-form-select>

    <b-input-group prepend="Name:" class="mb-2">
      <b-form-input v-model="teamName" :disabled="selectedTeam == null" type="text"></b-form-input>
      <b-input-group-append>
        <b-button v-on:click="sendTeamName" :disabled="selectedTeam == null" variant="success">
          Send
        </b-button>
      </b-input-group-append>
    </b-input-group>

    <b-input-group prepend="Icon:" class="mb-2">
      <b-form-input v-model="teamIcon" :disabled="selectedTeam == null" type="text"></b-form-input>
      <b-input-group-append>
        <b-button v-on:click="sendTeamIcon" :disabled="selectedTeam == null" variant="success">
          Send
        </b-button>
      </b-input-group-append>
    </b-input-group>

    <b-input-group prepend="Token:" class="mb-2">
      <b-form-input v-model="teamToken" :disabled="selectedTeam == null" type="text"></b-form-input>
      <b-input-group-append>
        <b-button v-on:click="sendTeamToken" :disabled="selectedTeam == null" variant="success">
          Send
        </b-button>
      </b-input-group-append>
    </b-input-group>

    <hr>

    <label for="service-select">Service:</label>
    <b-form-select v-on:change="updateServiceSelection" id="service-select" :options="serviceOptions" v-model="selectedService"
                   class="mb-2"></b-form-select>

    <b-input-group prepend="Name:" class="mb-2">
      <b-form-input v-model="serviceName" :disabled="selectedService == null" type="text"></b-form-input>
      <b-input-group-append>
        <b-button v-on:click="sendServiceName" :disabled="selectedService == null" variant="success">
          Send
        </b-button>
      </b-input-group-append>
    </b-input-group>
  </div>
</template>

<!--suppress JSUnresolvedVariable -->
<script>
export default {
  name: "Config",
  mounted() {
    this.loadConfig();
  },
  data() {
    return {
      ctfTitle: null,
      totalRounds: null,
      checksInRound: null,
      flagLifeLength: null,
      gameStartTime: null,
      freezeStartTime: null,

      teams: null,
      services: null,

      teamName: null,
      teamIcon: null,
      teamToken: null,

      serviceName: null,

      teamOptions: null,
      serviceOptions: null,

      selectedTeam: null,
      selectedService: null,
    }
  },
  methods: {
    loadConfig: function () {
      this.$http
          .get("/config")
          .then(response => {
            let config = response.data;
            this.initFields(config);
          })
          .catch(e => {
            console.error('Failed to load config', e);
          })
    },
    initFields: function (config) {
      this.ctfTitle = config.ctfTitle;
      this.totalRounds = config.totalRounds;
      this.checksInRound = config.checksInRound;
      this.flagLifeLength = config.flagLifeLength;
      this.gameStartTime = config.gameStartTime;
      this.freezeStartTime = config.freezeStartTime;

      this.teams = config.teams;
      this.services = config.services;

      this.teamOptions = config.teams.map((t, n) => ({value: n, text: t.name}));
      this.serviceOptions = config.services.map((t, n) => ({value: n, text: t.name}));
    },
    updateTeamSelection: function () {
      let team = this.teams[this.selectedTeam];
      this.teamName = team.name;
      this.teamIcon = team.icon;
      this.teamToken = team.token;
    },
    updateServiceSelection: function () {
      let service = this.services[this.selectedService];
      this.serviceName = service.name;
    },
    sendCtfTitle: function () {
      this.$http.post("/setCtfTitle", this.ctfTitle);
    },
    sendTotalRounds: function () {
      this.$http.post("/setTotalRounds", this.totalRounds);
    },
    sendChecksInRound: function () {
      this.$http.post("/setChecksInRound", this.checksInRound);
    },
    sendFlagLifeLength: function () {
      this.$http.post("/setFlagLifeLength", this.flagLifeLength);
    },
    sendGameStartTime: function () {
      this.$http.post("/setGameStartTime", JSON.stringify(this.gameStartTime));
    },
    sendFreezeStartTime: function () {
      this.$http.post("/setFreezeStartTime", JSON.stringify(this.freezeStartTime));
    },
    sendTeamName: function () {
      this.$http.post(`/setTeamName/${this.selectedTeam}/`, this.teamName);
    },
    sendTeamIcon: function () {
      this.$http.post(`/setTeamIcon/${this.selectedTeam}/`, this.teamIcon);
    },
    sendTeamToken: function () {
      this.$http.post(`/setTeamToken/${this.selectedTeam}/`, this.teamToken);
    },
    sendServiceName: function () {
      this.$http.post(`/setServiceName/${this.selectedService}/`, this.serviceName);
    }
  }
}
</script>
