<!--suppress XmlInvalidId -->
<template>
  <div>
    <h1>Edit team data</h1>
    <label for="team-select">Team:</label>
    <b-form-select v-on:change="updateSelection" id="team-select" :options="teamOptions" v-model="selectedTeam"
                   class="mb-2"></b-form-select>
    <label for="service-select">Service:</label>
    <b-form-select v-on:change="updateSelection" id="service-select" :options="serviceOptions" v-model="selectedService"
                   class="mb-2"></b-form-select>

    <hr/>

    <label for="team-score">Score:</label>
    <b-input-group class="mb-2">
      <b-form-input v-model="teamScore" :readonly="!selectionReady" type="number" min="1"
                    id="team-score"></b-form-input>
      <b-input-group-append>
        <b-button v-on:click="sendScore" :disabled="!selectionReady || teamScore < 1" variant="success">Send</b-button>
      </b-input-group-append>
    </b-input-group>

    <label for="stolen-flags">Stolen flags:</label>
    <b-input-group class="mb-2">
      <b-form-input v-model="stolenFlags" :readonly="!selectionReady" type="number" min="0"
                    id="stolen-flags"></b-form-input>
      <b-input-group-append>
        <b-button v-on:click="sendStolenFlags" :disabled="!selectionReady || stolenFlags < 0" variant="success">Send
        </b-button>
      </b-input-group-append>
    </b-input-group>

    <label for="lost-flags">Lost flags:</label>
    <b-input-group class="mb-2">
      <b-form-input v-model="lostFlags" :readonly="!selectionReady" type="number" min="0"
                    id="lost-flags"></b-form-input>
      <b-input-group-append>
        <b-button v-on:click="sendLostFlags" :disabled="!selectionReady || lostFlags < 0" variant="success">Send
        </b-button>
      </b-input-group-append>
    </b-input-group>
  </div>
</template>

<!--suppress JSUnresolvedVariable -->
<script>
export default {
  name: "Numbers",
  data() {
    return {
      teamOptions: null,
      serviceOptions: null,

      selectionReady: null,
      scores: null,
      selectedTeam: null,
      selectedService: null,

      teamScore: null,
      stolenFlags: null,
      lostFlags: null
    }
  },
  mounted() {
    this.loadState();
  },
  methods: {
    loadState: function () {
      this.$http
          .get("/state")
          .then(response => {
            let state = response.data;
            this.initSelects(state);
          })
          .catch(e => {
            console.error('Failed to load state', e);
          })
    },
    initSelects: function (state) {
      this.scores = state.scores;
      this.teamOptions = state.config.teams.map((t, n) => ({value: n, text: t.name}));
      this.serviceOptions = state.config.services.map((t, n) => ({value: n, text: t}));
    },
    updateSelection: function () {
      let team = this.selectedTeam;
      let service = this.selectedService;

      if (team != null && service != null) {
        this.selectionReady = true;
        this.loadNumbers();
      } else {
        this.selectionReady = false;
      }
    },
    loadNumbers: function () {
      let team = this.selectedTeam;
      let service = this.selectedService;

      let score = this.scores[team][service];
      this.teamScore = score.score;
      this.stolenFlags = score.stolenFlags;
      this.lostFlags = score.lostFlags;
    },
    sendScore: function () {
      let team = this.selectedTeam;
      let service = this.selectedService;
      let score = this.teamScore;

      this.$http.post(`/setScore/${team}/${service}`, JSON.stringify(score))
      setTimeout(() => this.loadState(), 500);
    },
    sendStolenFlags: function () {
      let team = this.selectedTeam;
      let service = this.selectedService;
      let stolenFlags = this.stolenFlags;

      this.$http.post(`/setStolenFlags/${team}/${service}`, JSON.stringify(stolenFlags))
      setTimeout(() => this.loadState(), 500);
    },
    sendLostFlags: function () {
      let team = this.selectedTeam;
      let service = this.selectedService;
      let lostFlags = this.lostFlags;

      this.$http.post(`/setLostFlags/${team}/${service}`, JSON.stringify(lostFlags))
      setTimeout(() => this.loadState(), 500);
    }
  }
}
</script>
