<template>
  <div class="scoreboard">
    <h1>Admin scoreboard</h1>
    <b-button v-on:click="loadState" variant="dark" class="mb-2">Update</b-button>
    <span style="white-space: pre;">
      <b-table :items="items" :fields="fields" sort-by="total" sort-desc></b-table>
    </span>
  </div>
</template>

<!--suppress JSUnresolvedVariable -->
<script>
export default {
  name: 'Scoreboard',
  data() {
    return {
      fields: null,
      items: null
    }
  },
  mounted() {
    this.loadState()
  },
  methods: {
    loadState: function () {
      this.$http
          .get("/state")
          .then(response => {
            let state = response.data;
            this.initTable(state)
          })
          .catch(e => {
            console.error('Failed to load state', e);
          })
    },
    initTable: function (state) {
      let scores = state.scores;
      let statuses = state.statuses;
      let teams = state.config.teams.map(t => t.name)
      let services = state.config.services

      let that = this

      this.fields = [
        {
          key: 'team',
          label: 'Team',
          sortable: true
        },
        {
          key: 'total',
          label: 'Total',
          sortable: true
        },
        ...services.map((serviceName, servicePos) => ({
          key: 'service' + servicePos,
          label: serviceName,
          tdClass: that.getStatusClass
        }))]

      this.items = teams.map(function (teamName, teamPos) {
        // could have written it normally, but then it wouldn't be funny
        let servicesScores = services.map(function (serviceName, servicePos) {
          return {
            ["service" + servicePos]: that.getScoreText(scores[teamPos][servicePos], statuses[teamPos][servicePos]),
            ["service" + servicePos + "_status"]: statuses[teamPos][servicePos].status
          }
        }).reduce(function (acc, val) {
          return {...acc, ...val}
        });
        return {
          team: teamName,
          total: that.calculateTotal(scores[teamPos], statuses[teamPos], services),
          ...servicesScores
        }
      })
    },
    calculateTotal: function (teamScores, teamStatuses, services) {
      return services.reduce(function (acc, next, index) {
        let score = teamScores[index]
        let status = teamStatuses[index]

        return acc + score.score * status.sla
      }, 0)
    },
    getScoreText: function (score, status) {
      return score.score + " FP, " + score.stolenFlags + " stolen, " + score.lostFlags + " lost, SLA " +
          this.roundToNPlaces(status.sla * 100, 2) + "%\n" +
          this.roundToNPlaces(score.score * status.sla, 2) + " points total\n" +
          status.description;
    },
    getStatusClass: function getStatusClass(value, key, item) {
      let status = item[key + '_status']
      if (status === 'UP') return 'table-success'
      if (status === 'DOWN') return 'table-danger'
      if (status === 'MUMBLE') return 'table-warning'
      if (status === 'CORRUPT') return 'table-info'
    },
    roundToNPlaces: function (value, n) {
      const c = Math.pow(10, n)
      return Math.round((value + Number.EPSILON) * c) / c;
    }
  }
}
</script>
