<!--suppress XmlInvalidId -->
<template>
  <div>
    <h1>Game state toggles</h1>
    <h4>Use with caution</h4>
    <b-button v-on:click="startGame" variant="success" :disabled="gameStarted" class="mb-2 d-block">Start game
    </b-button>
    <b-button v-on:click="endGame" variant="danger" :disabled="gameEnded" class="mb-2 d-block">End game</b-button>
    <b-button-group class="mb-2 d-block">
      <b-button v-on:click="startFreeze" variant="success" :disabled="freeze">Start freeze</b-button>
      <b-button v-on:click="stopFreeze" variant="danger" :disabled="!freeze">Stop freeze</b-button>
    </b-button-group>

    <hr/>

    <label for="next-round">Force next round:</label>
    <b-input-group class="mb-2">
      <b-form-input v-model="nextRound" :readonly="!gameStarted || gameEnded" :placeholder="currentRound + 1"
                    type="number" min="1" :max="totalRounds" id="next-round"></b-form-input>
      <b-input-group-append>
        <b-button v-on:click="sendNextRound"
                  :disabled="!gameStarted || gameEnded || nextRound < 1 || nextRound > totalRounds" variant="success">
          Send
        </b-button>
      </b-input-group-append>
    </b-input-group>
    <p>If the difference is too big, current flags will become expired</p>
  </div>
</template>

<!--suppress JSUnresolvedVariable -->
<script>
export default {
  name: "Toggles",
  mounted() {
    this.loadState();
  },
  data() {
    return {
      gameStarted: null,
      gameEnded: null,
      freeze: null,
      currentRound: null,
      nextRound: null,
      totalRounds: null
    }
  },
  methods: {
    loadState: function () {
      this.$http
          .get("/state")
          .then(response => {
            let state = response.data;
            this.initButtons(state);
          })
          .catch(e => {
            console.error('Failed to load state', e);
          })
    },
    initButtons: function (state) {
      this.gameStarted = state.state.gameStarted;
      this.gameEnded = state.state.gameEnded;
      this.freeze = state.state.freeze;
      this.currentRound = state.state.currentRound;
      this.totalRounds = state.config.totalRounds;
    },
    startGame: function () {
      this.$http.post("/startGame");
      setTimeout(() => this.loadState(), 500);
    },
    endGame: function () {
      this.$http.post("/endGame");
      setTimeout(() => this.loadState(), 500);
    },
    startFreeze: function () {
      this.$http.post("/startFreeze");
      setTimeout(() => this.loadState(), 500);
    },
    stopFreeze: function () {
      this.$http.post("/stopFreeze");
      setTimeout(() => this.loadState(), 500);
    },
    sendNextRound: function () {
      this.$http.post("/setNextRound", this.nextRound);
      setTimeout(() => this.loadState(), 500);
    }
  }
}
</script>
