<template>
  <div id="app" :class="[{'collapsed' : collapsed}]">
    <div class="app">
      <div class="container">
        <router-view/>
      </div>
      <sidebar-menu :menu="menu" :collapsed="collapsed" @toggle-collapse="onToggleCollapse"/>
    </div>
  </div>
</template>

<script>

export default {
  name: 'App',
  data() {
    return {
      menu: [
        {
          header: true,
          title: 'ADPLATF Admin',
          hiddenOnCollapse: true
        },
        {
          href: '/',
          title: 'Scoreboard',
          icon: 'fa fa-table'
        },
        {
          href: '/checks',
          title: 'Checks',
          icon: 'fa fa-tasks'
        },
        {
          href: '/toggles',
          title: 'Toggles',
          icon: 'fa fa-toggle-on'
        },
        {
          href: '/numbers',
          title: 'Numbers',
          icon: 'fa fa-flag'
        },
        {
          href: '/config',
          title: 'Config override',
          icon: 'fas fa-cog'
        },
        {
          href: '/kibana',
          title: 'Kibana',
          icon: 'fas fa-book',
          external: true
        },
        {
          href: '/grafana',
          title: 'Grafana',
          icon: 'fas fa-chart-area',
          external: true
        }
      ],
      collapsed: false
    }
  },
  methods: {
    onToggleCollapse(collapsed) {
      this.collapsed = collapsed
    },
  }
}
</script>

<style>

body,
html {
  margin: 0;
  padding: 0;
}

#app {
  padding-left: 350px;
  transition: 0.3s ease;
}

#app.collapsed {
  padding-left: 50px;
}

.app {
  padding: 50px;
}
</style>
